/* variables */
:root {
  --landing-overlay: rgba(0, 0, 0, 0.35);
  /* 
    color mode dependant variables are declared with js
    its put here to help with developement (auto Complete)
  */
  --main-bg: #333;
  --alt-bg: #1a1a1a;
  --main-txt-clr: #f5f5f5;
  --alt-txt-clr: #222;
  /* ============================= */
  --main-clr: #03a9f4;
  --main-dur: 200ms;
  --fade-in-dur: 400ms;
  --nav-height: 50px;
  --aside-width: 250px;
  --title-size: clamp(1.75rem, 2vw + 1rem, 2.5rem);
  --section-padding: 5rem;
  --features-bg: radial-gradient(
    circle,
    var(--main-bg) 3%,
    var(--main-clr) 29%,
    var(--main-bg) 50%
  );
}

/* 
light mode handled with javaScript
@media (prefers-color-scheme: light) {
  html {
    --main-bg: #f5f5f5;
    --alt-bg: #c7eee8;
    --main-txt-clr: #222;
    --alt-txt-clr: #f5f5f5;
  }
} 
*/

/* global declarations */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--nav-height);
}

body {
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
  color: var(--main-txt-clr);
  background-color: var(--main-bg);
}

p {
  line-height: 1.6;
  max-width: 60ch;
}

.highlight {
  font-weight: 700;
  color: var(--main-clr);
  text-shadow: 0 0 5px #000;
}

main > section {
  padding-block: var(--section-padding);
}

/* main container */

/* extra small screens (mobiles) */
.container {
  margin-inline: auto;
  padding-inline: 15px;
}

/* small screens (tablets) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium screens (laptops) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large screens (desktops) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* reusable components */
.fade-in {
  animation: fade-in var(--fade-in-dur) ease-in-out forwards;
}

@keyframes fade-in {
  to {
    transform: translateX(0);
  }
}

#scroll-to-top {
  border: none;
  border-radius: 3px;
  outline-color: transparent;
  background-color: var(--main-clr);
  color: var(--main-txt-clr);
  cursor: pointer;
  font-size: 1rem;
  padding: 1em;
  display: block;
  position: fixed;
  z-index: 100;
  bottom: 1rem;
  right: 1rem;
  transform: translateX(100px);
  transition: transform var(--main-dur) ease-in-out;
}

@media (prefers-reduced-motion) {
  #scroll-to-top {
    transition: none;
  }
}

#scroll-to-top:hover {
  opacity: 0.85;
}

.arrow-up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%) rotate(45deg);
  width: 50%;
  aspect-ratio: 1;
  border: 4px solid currentColor;
  border-bottom: none;
  border-right: none;
}

#scroll-to-top:hover > .arrow-up {
  animation: go-up var(--main-dur) ease-in-out infinite alternate;
}

#scroll-to-top.visible {
  transform: translateX(0);
}

@keyframes go-up {
  from {
    transform: translate(-50%, -25%) rotate(45deg);
  }
  to {
    transform: translate(-50%, -70%) rotate(45deg);
  }
}

.section-title {
  width: fit-content;
  height: fit-content;
  padding: 0.5em 1.75em;
  font-size: var(--title-size);
  text-align: center;
  margin: 0 auto 2em;
  position: relative;
  isolation: isolate;
}

.section-title .border-svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.section-title .border {
  fill: transparent;
  stroke: var(--main-clr);
  height: inherit;
  width: inherit;
  stroke-width: 8px;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -359;
}

.border-animation .border {
  animation: border-animation 1000ms ease-out forwards,
    fill-animation 300ms linear 1000ms forwards;
}

@keyframes border-animation {
  to {
    stroke-width: 4px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760 0;
  }
}

@keyframes fill-animation {
  to {
    fill: var(--main-clr);
  }
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 5000;
  backdrop-filter: blur(5px);
}

.pop-up {
  position: fixed;
  z-index: 6000;
  top: 50%;
  left: 50%;
  width: 50vw;
  animation: pop-up var(--fade-in-dur) cubic-bezier(0.18, 0.89, 0.32, 1.28)
    forwards;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  background-color: var(--alt-bg);
}

@keyframes pop-up {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

.pop-up__message {
  margin-bottom: 1em;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.pop-up__btn {
  width: 100%;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  color: var(--main-txt-clr);
  cursor: pointer;
}

.pop-up__btn:hover {
  opacity: 0.9;
}

.pop-up__cancle {
  background-color: transparent;
  border: 1px solid var(--main-txt-clr);
}

.pop-up__cancle:focus-visible {
  outline: 2px solid var(--main-clr);
  outline-offset: 2px;
}

.pop-up__confirm {
  background-color: var(--main-clr);
  border: none;
}

.pop-up__confirm:focus-visible {
  outline: 2px solid var(--main-txt-clr);
  outline-offset: 2px;
}

/* some resets */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* ================ main design styles ================ */

/* ===== header and nav bar styles ===== */
#nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--alt-bg);
  color: var(--main-txt-clr);
  width: 100%;
  min-height: var(--nav-height);
  padding-inline: clamp(1rem, 2vw, 2rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.logo {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-clr);
}

#nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.75rem;
}

.nav-link {
  position: relative;
  color: inherit;
}

.nav-link.active {
  transition: color var(--main-dur) linear;
  color: var(--main-clr);
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%) scaleX(0);
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform-origin: left;
  transition: transform var(--main-dur) ease-in-out;
}

.nav-link:hover::before {
  transform: translateY(100%) scaleX(1);
}

/* burger icon animation */
#toggle-nav {
  display: none;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 3px;
  border: none;
  padding: 0 5px;
  color: var(--alt-bg);
  background-color: var(--main-txt-clr);
  cursor: pointer;
}

#toggle-nav:hover {
  opacity: 0.9;
}

#toggle-nav:focus-visible {
  outline: 2px solid #ff9800;
  outline-offset: 2px;
}

#toggle-nav > span {
  --line-height: 3px;
  display: block;
  background-color: currentColor;
  width: 100%;
  height: var(--line-height);
  margin: var(--line-height) auto;
  border-radius: 2px;
  transition: translate var(--main-dur) ease-in-out var(--main-dur),
    rotate var(--main-dur) ease-in-out, scale var(--main-dur) ease-in-out;
  transform-origin: center;
}

#toggle-nav[aria-expanded="true"] > span {
  transition: translate var(--main-dur) ease-in-out,
    rotate var(--main-dur) ease-in-out var(--main-dur),
    scale var(--main-dur) ease-in-out;
}

#toggle-nav[aria-expanded="true"] > span:first-child {
  translate: 0 calc(100% + var(--line-height));
  rotate: 45deg;
}

#toggle-nav[aria-expanded="true"] > span:nth-child(2) {
  scale: 0 1;
}

#toggle-nav[aria-expanded="true"] > span:last-child {
  translate: 0 calc(-100% - var(--line-height));
  rotate: -45deg;
}

#nav-links.visible {
  transform: translateY(0);
}

/* burger icon display */
@media (max-width: 767px) {
  #nav::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: var(--alt-bg);
  }

  #nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    flex-direction: column;
    padding-bottom: 0.5rem;
    gap: 1rem;
    background-color: var(--alt-bg);
    z-index: -100;
    transform: translateY(-100%);
    transition: transform var(--main-dur) ease-in-out;
  }

  #nav-links > li {
    width: 100%;
    padding-block: 0.75em;
    text-align: center;
    background-color: var(--main-bg);
  }

  #toggle-nav {
    display: block;
  }
}

/* ===== navigation bullets styles ===== */
.nav-bullets {
  position: fixed;
  z-index: 50;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.25rem 0.5rem;
}

.nav-bullets.ltr {
  right: 0;
}

.nav-bullets.rtl {
  left: 0;
}

.nav-bullet {
  position: relative;
  width: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  border: 1px solid var(--main-txt-clr);
  background-color: var(--main-bg);
  cursor: pointer;
}

.nav-bullet > a {
  --arrow-width: 0.5em;
  width: max-content;
  display: none;
  font-size: 0.825rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--main-txt-clr);
  background-color: var(--alt-bg);
  padding: 0.5em 0.75em;
  pointer-events: none;
  user-select: none;
}

.nav-bullets.ltr > .nav-bullet > a {
  right: calc(100% + var(--arrow-width));
}

.nav-bullets.rtl > .nav-bullet > a {
  left: calc(100% + var(--arrow-width));
}

.nav-bullet > a::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: var(--arrow-width) solid transparent;
}

.nav-bullets.ltr > .nav-bullet > a::before {
  left: 100%;
  border-left-color: var(--alt-bg);
}

.nav-bullets.rtl > .nav-bullet > a::before {
  right: 100%;
  border-right-color: var(--alt-bg);
}

.nav-bullet:hover > a,
.nav-bullet:focus-visible > a {
  display: block;
}

.nav-bullet.active {
  background-color: var(--main-clr);
}

.nav-bullet:focus-visible {
  outline: 2px solid var(--main-clr);
  outline-offset: 2px;
}

/* ===== landing styles ===== */
#landing {
  --txt-clr: #f5f5f5;
  display: grid;
  place-items: center;
  position: relative;
  min-height: 100vh;
  width: 100%;
  color: var(--main-txt-clr);
  text-align: center;
}

.landing__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--landing-overlay);
  z-index: -1;
}

#landing__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.landing__txt {
  color: var(--txt-clr);
  padding-inline: 1rem;
}

#landing__title {
  margin-block: 0.75em;
  font-size: var(--title-size);
  text-transform: capitalize;
}

.landing_desc {
  opacity: 0.95;
  margin-inline: auto;
}

/* settings tab styles */
#settings {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: var(--aside-width);
  height: 100vh;
  overflow: auto;
  background-color: var(--alt-bg);
  color: var(--main-txt-clr);
  transition: transform var(--main-dur) ease-in-out;
  padding-inline: 0.5rem;
}

/* custom scrollbar width */
#settings::-webkit-scrollbar {
  width: 0.25rem;
}

/* custom scrollbar Handle */
#settings::-webkit-scrollbar-thumb {
  background: var(--main-clr);
  border-radius: 0.125rem;
}

@media (prefers-reduced-motion) {
  #settings {
    transition: none;
    transform: translateX(0);
  }
}

#settings.ltr {
  left: 0;
  transform: translateX(-100%);
}

#settings.rtl {
  right: 0;
  transform: translateX(100%);
}

#settings.visible {
  transform: translateX(0);
}

.settings__toggle {
  position: fixed;
  z-index: 1000;
  top: 30%;

  width: 30px;
  aspect-ratio: 1;
  background-color: var(--main-clr);
  color: currentColor;
  display: grid;
  place-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  transition: transform var(--main-dur) ease-in-out;
}

.settings__toggle.ltr {
  left: 0;
}

.settings__toggle.ltr.active {
  transform: translateX(var(--aside-width));
}

.settings__toggle.rtl {
  right: 0;
}

.settings__toggle.rtl.active {
  transform: translateX(calc(var(--aside-width) * -1));
}

.settings__toggle:focus-visible {
  outline: 2px solid var(--main-txt-clr);
}

.settings__toggle:hover > .settings__icon,
.settings__toggle:focus-visible > .settings__icon,
.settings__toggle.active > .settings__icon {
  animation: rotate-360 1s linear infinite;
}

@keyframes rotate-360 {
  to {
    transform: rotate(360deg);
  }
}

#settings > h3 {
  text-align: center;
  font-size: 2rem;
  margin-top: 0.5em;
}

.settings-box {
  padding: 1rem 0.25rem;
  margin-block: 2rem;
  background-color: var(--main-bg);
  border-radius: 4px;
}

.settings-box > h4 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-block-end: 0.75em;
}

/* color settings styles */
.colors-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.color-setting {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  opacity: 0.5;
  border: none;
  outline: none;
  cursor: pointer;
}

.color-setting:focus-visible {
  outline: 2px solid var(--alt-bg);
  outline-offset: 2px;
}

.color-setting:hover,
.color-setting:focus-visible,
.color-setting.active {
  opacity: 1;
}

.color-setting.active {
  outline: 2px solid var(--main-txt-clr);
}

/* checkbox styles */
.checkbox-setting {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.checkbox-setting > span {
  text-transform: uppercase;
}

.settings-box input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.settings-box input[type="checkbox"] + label {
  --label-width: 6rem;
  width: var(--label-width);
  height: calc(var(--label-width) / 3);
  border-radius: calc(var(--label-width) / 6);

  background-color: var(--main-txt-clr);
  color: var(--main-txt-clr);
  cursor: pointer;
}

.settings-box input[type="checkbox"] + label:hover {
  opacity: 0.9;
}

.settings-box input[type="checkbox"]:focus-visible + label {
  outline: 2px solid var(--main-clr);
  outline-offset: 2px;
}

.settings-box input[type="checkbox"] + label::before {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-clr);
  border-radius: 50%;
  transition: transform var(--main-dur) ease-out;
}

.settings-box input[type="checkbox"]:checked + label.ltr::before {
  transform: translateX(calc(var(--label-width) - 100%));
}

.settings-box input[type="checkbox"]:checked + label.rtl::before {
  transform: translateX(calc(100% - var(--label-width)));
}

/* language setting styles */
.radio-setting > .option {
  padding: 0.5rem;
}

.radio-setting > .option > :is(input, label) {
  cursor: pointer;
}

.radio-setting > .option > label {
  font-weight: 500;
  margin-inline-start: 0.5em;
}

.radio-setting > .option > input:checked + label {
  color: var(--main-clr);
}

/* reset btn */
.reset-btn {
  display: block;
  width: 100%;
  margin: 2rem auto;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  border: none;
  background-color: var(--main-clr);
  color: var(--main-txt-clr);
  cursor: pointer;
}

.reset-btn:focus-visible {
  outline: 2px solid var(--main-txt-clr);
  outline-offset: 2px;
}

.reset-btn:hover {
  opacity: 0.925;
}

/* ===== about section styles ===== */
.about__content {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
  place-items: center;
  overflow: hidden;
}

.about__img {
  color: var(--main-clr);
  flex-shrink: 0;
  font-size: clamp(4rem, 3.5vw + 3rem, 8rem);
}

.about__img.ltr {
  transform: translateX(100%);
}

.about__img.rtl {
  transform: translateX(-100%);
}

@media (prefers-reduced-motion) {
  .about__img {
    animation: none;
    transform: translateX(0);
  }
}

.about__text > h3 {
  color: var(--main-clr);
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.about__text > p {
  font-size: 1.125rem;
}

@media (max-width: 767px) {
  .about__content {
    flex-direction: column;
    text-align: center;
  }

  .section-title {
    margin-bottom: 1.5em;
  }
}

/* skills styles */
.sub-section-title {
  text-align: center;
  font-size: var(--title-size);
  font-weight: 500;
  margin-bottom: 1em;
}

.skill {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--alt-bg);
  margin-block: 1rem;
  /* to keep the skill direction event if lang is rtl */
  direction: ltr;
  text-align: start;
}

.skill__name {
  font-weight: 500;
  flex-grow: 1;
}

.skill__prog {
  position: relative;
  background-color: var(--main-bg);
  height: 1.75rem;
  width: 80%;
}

.skill__prog::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--prog);
  background-color: var(--main-clr);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform calc(2 * var(--main-dur)) ease-in-out;
}

.scale-up .skill__prog::before {
  transform: scaleX(1);
}

@media (max-width: 547px) {
  .skill {
    flex-direction: column;
    padding-block: 0.75rem;
  }

  .skill__name {
    font-size: 1.125rem;
  }

  .skill__prog {
    width: 100%;
  }
}

/* ================== Gallery styles ================== */

.gallery-desc {
  margin: 1.5rem auto;
  text-align: center;
}

.gallery__filter-btns {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.gallery__filter-btn {
  border: none;
  background-color: var(--alt-bg);
  color: var(--main-txt-clr);
  cursor: pointer;
  padding: 0.75rem;
  transition: background-color 200ms linear;
}

.gallery__filter-btn:not(.active):hover {
  background-color: var(--main-clr);
}

.gallery__filter-btn.active {
  background-color: var(--main-clr);
  transition: opacity 200ms ease-out;
}

.gallery__filter-btn.active:hover {
  opacity: 0.87;
}

.gallery__btn {
  display: block;
  width: fit-content;
  padding: 0.75rem 1.25rem;
  margin: 1.5em auto 0;
  color: var(--main-txt-clr);
  background-color: var(--main-clr);
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: 0 0 5px var(--main-clr);
  transition: opacity 200ms ease-out;
}

.gallery__images {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.gallery__card {
  flex-grow: 1;
  width: min(100%, 350px);
  position: relative;
  overflow: hidden;
  border: 1px solid var(--main-txt-clr);
}

.img-fade-in {
  animation: img-fade-in 500ms ease-in-out forwards;
}

.img-fade-out {
  animation: img-fade-out 300ms ease-in-out forwards;
}

@keyframes img-fade-in {
  from {
    transform: translate(-100px, -100px) scale(0);
    opacity: 0;
  }
  to {
    transform: translate(0) scale(1);
    opacity: 1;
  }
}

@keyframes img-fade-out {
  from {
    transform: translate(0) scale(1);
    opacity: 1;
  }
  to {
    transform: translate(-100px, -100px) scale(0);
    opacity: 0;
    position: absolute;
  }
}

.gallery__card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 250ms ease-in-out;
}

.gallery__card > .card__content {
  width: 100%;
  padding: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  background-color: var(--alt-bg);
  color: var(--main-txt-clr);
  transition: transform 250ms ease-in-out;
}

.gallery__card:hover > .card__content {
  transform: translate(0);
}

.gallery__card > .card__content h3 {
  font-weight: 500;
  margin-bottom: 1em;
}

.gallery__card > .card__content p {
  font-size: 0.925rem;
}

.gallery__card:hover > img {
  transform: rotate(4deg) scale(1.13);
}

.gallery__card:nth-child(even):hover > img {
  transform: rotate(-4deg) scale(1.13);
}

.gallery__btn:hover {
  opacity: 0.85;
}

/* time line styles */
.time-line__event {
  --gap-size: 2rem;
  --line-size: 2px;
  --bullet-size: 1rem;
  --top-offset: 1rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-size);
  padding-block: 4rem;
  text-align: center;
}

.time-line__event::before,
.event__year {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-clr);
}

.time-line__event::before {
  content: "";
  height: 100%;
  width: var(--line-size);
}

.event__card {
  position: relative;
  background-color: var(--alt-bg);
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
}

.card_left {
  grid-column: 1 / 2;
}

.card_right {
  grid-column: 2 / 3;
}

.event__card::before {
  content: "";
  width: var(--bullet-size);
  aspect-ratio: 1;
  border-radius: 50%;
  border: var(--line-size) solid var(--main-clr);
  position: absolute;
  top: var(--top-offset);
  background-color: var(--main-bg);
}

.event__card.active::before {
  animation: glow calc(var(--main-dur) * 3) ease-in-out alternate infinite;
}

@keyframes glow {
  to {
    background-color: var(--main-clr);
  }
}

.card_left.ltr::before,
.card_right.rtl::before {
  right: calc(var(--gap-size) / -2);
  transform: translateX(50%);
}

.card_right.ltr::before,
.card_left.rtl::before {
  left: calc(var(--gap-size) / -2);
  transform: translateX(-50%);
}

.event__card::after {
  content: "";
  position: absolute;
  top: calc(var(--top-offset) + (var(--bullet-size) / 2));
  transform: translateY(-50%);
  border: 0.5rem solid transparent;
}

.card_left.ltr::after {
  left: 100%;
  border-left-color: var(--alt-bg);
}

.card_left.rtl::after {
  left: calc(var(--gap-size) / -2);
  border-right-color: var(--alt-bg);
}

.card_right.ltr::after {
  right: 100%;
  border-right-color: var(--alt-bg);
}

.card_right.rtl::after {
  right: calc(var(--gap-size) / -2);
  border-left-color: var(--alt-bg);
}

.event__year {
  font-weight: 500;
  border-radius: 0.5em;
  padding: 0.25em 0.75em;
}

.event__title {
  font-size: clamp(1rem, 5vw, 1.125rem);
  margin-block-end: 0.75em;
  color: var(--main-clr);
}

.event__desc {
  font-size: clamp(0.825rem, 4vw, 1rem);
  opacity: 0.95;
}

@media (max-width: 650px) {
  .time-line__event {
    display: block;
  }

  .event__card {
    grid-column: unset;
    margin-block-end: 3rem;
  }

  .event__card.ltr::before,
  .event__card.rtl::before,
  .event__card.ltr::after,
  .event__card.rtl::after {
    right: unset;
    left: 50%;
  }

  .event__card.ltr::before,
  .event__card.rtl::before {
    top: calc(var(--top-offset) * -1);
    transform: translate(-50%, -50%);
  }

  .event__card.ltr::after,
  .event__card.rtl::after {
    top: 0;
    transform: translate(-50%, -100%);
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: var(--alt-bg);
  }
}

/* ============= features section styles ============= */
#features {
  background: var(--features-bg);
}

.features-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin-block: var(--section-padding);
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: min(100%, 320px);
  background-color: var(--alt-bg);
  border: 2px solid var(--main-txt-clr);
}

.feature > .image {
  position: relative;
  flex-grow: 1;
}

.feature > .image::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-clr);
  opacity: 0.5;
}

.feature > .image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: -1px;
  left: 0;
  background-color: var(--alt-bg);
  transform-origin: 50% 100%;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  transition: clip-path var(--main-dur);
}

.feature:hover > .image::after {
  clip-path: polygon(0% 25%, 100% 100%, 0 100%);
}

.feature img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature h3 {
  font-size: clamp(1.25rem, 5vw + 1rem, 2.5em);
  border-bottom: 5px solid var(--main-clr);
  width: fit-content;
  padding-block: 0.5em;
  margin: 0.75em auto;
}

.feature p {
  text-align: center;
  padding: 1em;
  font-size: 1.125em;
  opacity: 0.95;
}

.feature > a {
  display: block;
  width: fit-content;
  margin: 1em auto 0.75em;
  padding: 0.5em 1.25em;
  font-size: 1.25em;
  font-weight: 500;
  color: var(--main-clr);
  background-color: var(--main-txt-clr);
  border: 3px solid var(--main-clr);
  border-radius: 0.25em;

  background-image: linear-gradient(
    90deg,
    var(--main-clr) 50%,
    var(--main-txt-clr) 50%
  );
  background-size: 200% 100%;
  background-position: 100% 50%;
  transition: color var(--main-dur) linear,
    background-position var(--main-dur) linear;
}

.feature:hover > a {
  background-position: 0;
  color: var(--main-txt-clr);
}

.feature > a:focus-visible {
  outline: 3px solid var(--main-txt-clr);
  outline-offset: 3px;
}

/* testimonials sub section styles */
.testimonials-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  overflow: hidden;
}

@media (max-width: 300px) {
  .testimonials-wrapper {
    grid-template-columns: 1fr;
  }
}

.testimonial {
  border-radius: 0.25rem;
  background-color: var(--alt-bg);
  padding: 1rem 1.5rem;
}

.testimonial:nth-child(even) {
  transform: translateX(-100vw);
}

.testimonial:nth-child(odd) {
  transform: translateX(100vw);
}

.testimonial.fade-in {
  animation-duration: 500ms;
}

@media (prefers-reduced-motion) {
  .testimonial:nth-child(odd),
  .testimonial:nth-child(even) {
    animation: none;
    transform: translateX(0);
  }
}

.testimonial__info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-block-end: 1rem;
}

.testimonial__img {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  outline: 2px solid var(--main-clr);
  outline-offset: 1px;
}

.testimonial__name {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--main-clr);
  margin-block-end: 0.25em;
}

.testimonial__title {
  font-size: 0.825rem;
  opacity: 0.85;
}

.testimonial__text {
  font-size: 0.95rem;
  opacity: 0.95;
}

/* contact styles */
#contact {
  background-image: url(../images/contact.webp);
  background-size: cover;
  position: relative;
  isolation: isolate;
}

#contact::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--landing-overlay);
}

.contact__form {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 767px) {
  .contact__form {
    flex-direction: column;
    align-items: center;
    gap: 0.75em;
  }
}

.contact__inputs {
  width: min(100%, 450px);
  caret-color: var(--main-clr);
}

.input-container > input,
.textarea-container > textarea {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  margin-block-end: 0.75em;
  background-color: var(--alt-bg);
  color: var(--main-txt-clr);
  border-radius: 0.125em;
  border: none;
}

.input-container > input:last-child {
  margin-block-end: 0;
}

.textarea-container {
  display: flex;
  flex-direction: column;
}

.textarea-container > textarea {
  resize: none;
  flex-grow: 1;
}

@media (max-width: 767px) {
  .textarea-container > textarea {
    height: 100px;
  }
}

.contact__submit {
  border: none;
  border-radius: 0.25em;
  padding: 0.5em 0.75em;
  background-color: var(--main-clr);
  color: var(--main-txt-clr);
  cursor: pointer;
}

.contact__submit:hover {
  opacity: 0.925;
}

.contact__inputs > input:focus-visible,
.contact__inputs > textarea:focus-visible {
  outline: 2px solid var(--main-txt-clr);
  outline-offset: 2px;
}

.contact__inputs > input::placeholder,
.contact__inputs > textarea::placeholder {
  transition: opacity var(--main-dur) linear;
}

.contact__inputs > input:focus::placeholder,
.contact__inputs > textarea:focus::placeholder {
  opacity: 0;
}

/* ========= footer styles ========= */
footer {
  padding: 1.5rem;
  text-align: center;
}

footer > a {
  color: var(--main-clr);
}

footer > a:hover {
  text-decoration: underline;
}
